.catalog-item {
	margin-bottom: 50px;
}

.catalog-item_body_left {
	@extend %fl;
	
	iframe {
		@extend %db;
		@extend .mt-15;
	}
}

.catalog-item_body_right {
	@extend %fl;
	margin-left: 30px;
	width: 789px;
}

.catalog-item__body {
	@include border-radius(5px);
	@include box-shadow($gray14 0 4 14px);
	@extend .p-20;
	
	border: 1px solid $gray14;
	background-color: #f8f8f8;
	margin-bottom: 70px;
	
	
}

.catalog-item_body__avatar {
	@include border-radius(3px);
	border: 1px solid $gray14;
}

.catalog-item_body__info_row {
	@extend .catalog-category-list-item__info_row;
	
	.catalog-category-list-item__profi_lbl {
		margin-top: 3px;
		margin-right: 15px;
	}
}

.catalog-item_body__ttl {
	@extend .dinpro-b;
	@extend %font_20;
	
	padding: 0;
	color: $blue6;	
}

.catalog-item_body__town {
	@extend %font_14;
	@extend %normal;
	@extend .dinpro-r;
	color: $gray16;
}

.catalog-item_body__ttl_cnt {
	@extend %fl;
	max-width: 400px;
}

.catalog-item_body__ttl_profi_gold {
	background: url(../images/profi-gold.png) no-repeat left top;
	padding-left: 55px;
}

.catalog-item_body__ttl_profi_silver {
	background: url(../images/profi-silver.png) no-repeat left top;
	padding-left: 55px;
}

.catalog-item_body__to_client {
	@extend %ico;
	@extend %fl;
	@extend %pos_rel;
	
	@extend .dinpro-b;
	
	padding-left: 30px;
	margin-left: 40px;
	
	&:before {
		@extend .ico-ptica-green;
		left: 0;
		top: 3px;
	}
	
}

.catalog-item_body__to_client,
.catalog-item_body__rating {
	margin-top: 13px;
}

.catalog-item_body__rating {
	@extend %fr;
	@extend %pos_rel;
	@extend .dinpro-b;
	
	width: 170px;
	
}

.catalog-item_body__rating_active,
.catalog-item_body__rating_inactive,
.catalog-item_body__rating_cnt {
	@extend %pos_abs;
	width: 65px;
	height: 24px;
}

.catalog-item_body__rating_cnt {
	top: 0;
	right: 0;
}

.catalog-item_body__rating_active,
.catalog-item_body__rating_inactive {
	left: 0;
	top: 0;
}

.catalog-item_body__rating_inactive {
	background: url(../images/rating-b.png) no-repeat left top;
	z-index: 1;
}
.catalog-item_body__rating_active {
	background: url(../images/rating-g.png) no-repeat left top;
	z-index: 2;
}

.catalog-item_body__uslugi_ttl {
	@extend .dinpro-b;
}

.catalog-item_body__uslugi_list {
	@extend .mb-10;
}

.catalog-item_body__uslugi_item {
	@extend .mb-5;
}

.catalog-item_body__pricelist {
	@extend .dinpro-m;
	@extend %underline_y_n;
	
	color: $gray11;
	
	&:hover {
		color: $gray11;
	}
	
}	

.catalog-item_body__contact_spec {
	@extend %db;
	@extend .mt-20;
}

.catalog-item_body__awards {
	@extend .clearfix;
	@extend .mt-15;
	
	margin-left: -6px;
	margin-right: -6px;
	width: 290px;
}

.catalog-item_body__awards_item {
	@extend %fl;
	
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 12px;
	
	img {
		border: 1px solid $gray14;
		width: 60px;
		
		&:hover {
			@include box-shadow($gray14 0 0 14px);
		}
	}
}

.catalog-item__examples {
	@extend .mb-30;
	@extend .clearfix;
	
	overflow: hidden;
}

.catalog-item__ttl {
	@extend .dinpro-b;
	@extend .mb-20;
	@extend %font_20;
}

.catalog-item__examples_list {
	@extend .clearfix;
}

.catalog-item__examples_item {
	@extend %fl;
	margin: 0 7px;
	
	img {
		border: 1px solid $gray14;
		
		&:hover {
			@include box-shadow($gray14 0 0 14px);
		}
	}
}

.reviews_item__review_text {
	@extend .mb-10;
	
}

.reviews_item__foto_item {
	img {
		border: 1px solid $gray14;
		
		&:hover {
			@include box-shadow($gray14 0 0 14px);
		}
	}	
}

.catalog-item__reviews {
	@extend .mb-30;
	@extend .pb-30;
	
	border-bottom: 1px solid #f2f2f2;
}

.catalog-item__reviews_bottom {
	@extend .clearfix;
}

.catalog-item__show_reviews {
	@extend %fr;
}

.catalog-item__examples_list_1 {
	@extend %fl;
	@extend %pos_rel;
	left: 50%;
	
	.catalog-item__examples_item {
		@extend %pos_rel;
		right: 50%;		
	}
}

.catalog-item__related_list {
	@extend .clearfix;
	margin-left: -15px;
	margin-right: -15px;
}

.catalog-item__related_item {
	@extend %fl;
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
}

.catalog-item__related_item_cnt {
	@include border-radius(7px);
	
	border: 1px solid $gray8;
}

.related_item__r1 {
	@extend .p-10;
	border-bottom: 1px solid $gray8;
}

.related_item__avatar {
	@extend %db;
	@extend %fl;
	width: 55%;
	
	img {
		border: 1px solid $gray8;
	}
}

.related_item__rating {
	@extend %fl;
	@extend .dinpro-b;
	@extend %font_14;
	@extend .pl-10;
	@extend .pt-20;
	
	width: 45%;
}

.related_item__profi_lbl {
	@extend .mt-10;
	@extend .ml-10;
	
}

.related_item__name {
	@extend %db;
	@extend %content_box;
	@extend .dinpro-b;
	@extend .pt-10;
	
	clear: both;
	color: $blue6;
}

.related_item__r2 {
	@extend %font_14;
	
	padding: 15px 20px;
	
}

.related_item__r2_ttl {
	@extend .dinpro-b;
	color: $gray27;
	
}

.related_item__uslugi {
	li {
		color: $gray18;
	}
}