body,html,
h1,h2,h3,h4,
ul,
li,
p,
form,
menu {
	padding: 0;
	margin: 0;
}


html,
body {
    height: 100%;
}


li {
	list-style: none;
}

a {
	color: $blue3;
	
	&:hover,
	&:focus {
		color: $blue3;
		text-decoration: underline;
	}
}

%bold { 
	@extend .dinpro-b;
}

b {
	@extend %bold;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -200px;
    padding: 0 0 200px; 
//	background-color: #f8f8f8;
	background-color: #fff;
	font-family: 'dinpro-regular', Arial;
	font-size: 16px;
	color: $gray6;
	min-width: 1200px;
}

.wrap__pro {
	padding-bottom: 300px;
	margin-bottom: -300px;
}

body {
	font-family: 'dinpro-regular', Arial;
	font-size: 16px;
	color: $gray6;	
}

.button-red1,
.button-gray, 
.button-blue,
.button-red {
	@extend %dib;
	@extend %c_fff;
	@extend %font_18;
	@extend %underline_n_n;
	@extend %pointer;
	@extend .dinpro-b;
	
	background-repeat: repeat-x;
	line-height: 32px;
	border: none;
	padding-left: 40px;
	padding-right: 40px;
	
	@include border-radius(3px);
	
	&:focus,
	&:hover {
		@extend %c_fff;
		
		background-repeat: repeat-x;
	}
}

.button-red {
	@extend .btn-red;
	height: 35px;
	&:hover {
		@extend .btn-red-h;
	}
}

.button-red1 {
	@extend .btn-red1;
	height: 42px;
	line-height: 40px;
	&:hover {
		@extend .btn-red1-h;
	}
}

.button-blue {
	@extend .btn-blue;
	height: 34px;
	&:hover {
		@extend .btn-blue-h;
	}
}

.button-gray {
	@extend .btn-gray;
	height: 43px;
	line-height: 40px;
	&:hover {
		@extend .btn-gray-h;
	}
}

.button-light {
	@extend %dib;
	@extend %underline_n_n;
	@extend .dinpro-b;

	@include transition-property(background-color);
	@include transition-duration(200ms);
	@include box-shadow(0 3px 5px #e7e7e7);
	@include border-radius(5px);
	
	color: $gray6;
	padding: 0 20px;
	border: 1px solid $gray23;
	border-bottom: 1px solid $gray24;
	background-color: #fefefe;
	height: 43px;
	line-height: 40px;
		
	&:hover {
		background-color: darken(#fefefe, 2%);
		color: $gray6;
	}
}

.btn-short {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
}


.inputbox {
	@include border-radius(3px);
	
	border: 1px solid $gray10;
	line-height: 32px;
	outline: none;
	padding: 0 5px;
}



h1,.h1 {
	@extend .dinpro-b;
	@extend %font_28;
	 
	
	color: $gray3;
	padding: 0 0 30px 0;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: initial;
}

.h2__modal {
	@extend .dinpro-b;
	@extend %font_28;
	@extend %text_c;
	color: $gray7;
}

.wrap__cnt_main_page {
	background-color: #f8f8f8;
}

.wrap__cnt > .container {
	@extend .pt-30;
	padding-bottom: 30px;
}

.container {
	width: 1170px !important;
}

.container-inner {
	
}

.col-lg-10 {
	width: 83.33333333% !important;
	@extend %fl;
}

.col-lg-5 {
	width: 41.66666667% !important;
	@extend %fl;
}

.col-lg-4 {
	width: 33.33333333% !important;
	@extend %fl;
}

.col-lg-3 {
	width: 25% !important;
	@extend %fl;
}

.col-lg-offset-1 {
	margin-left: 8.33333333%  !important;
}

.navbar-nav > li {
	float: left !important;
}

.navbar-nav {
	margin: 0 !important;
}

.navbar-nav > li > a {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.popup_block {
	@extend %pos_abs;

	background-color: #fff;
	color: $gray4;
	padding: 20px 15px;
	z-index: 7777;
	
	@include border-radius(4px);
	@include box-shadow(0 0 10px 5px rgba(70, 70, 70, 0.2));
	
	&:after {
		@extend %pos_abs;
		
		content: ''; 
		left: 50%; 
		top: -12px;
		border: 6px solid transparent;
		border-bottom: 6px solid #fff;
		margin-left: -6px;
	}
}

.header_phone__popup {
	span {
		@extend .dinpro-b;
		color: $blue4;
	}	
}

.popup_block_dark {
	background-color: $gray4;
	&:after {
		border-bottom: 6px solid $gray4;
	}
}

.modal-dialog {
	margin-top: 100px;
}

.modal-header {
	background-color: $gray15;
	border-bottom: 1px solid $gray9;
	
	.close {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		width: 24px;
		height: 24px;
		background-color: $blue1;
		right: -25px;
		top: -25px;
		filter: alpha(opacity=100);
		opacity: 1;
		text-shadow: none;
		text-indent: 1px;



		@include border-radius(50%);

		@extend %pos_abs;
		@extend %c_fff;

		&:hover {
			filter: alpha(opacity=100);
			opacity: 1;
			background-color: lighten($blue1, 5%);
		}

	}
}

.modal-body  {
	padding: 15px 45px;
}

.modal-content .alert button.close {
	display: none;
}

.modal-dialog__login {
	width: 445px;
}

.reset_url,
.signup_url {
	@extend %font_14;
	color: $blue5;
	padding-left: 18px;
}

.login_button {
	padding-left: 30px;
	padding-right: 30px;
}


.solid-border-block,
.dashed-border-block {
	@extend .bg-fff;
	@include border-radius(5px);
	
	padding: 10px;
	border: 1px dashed $gray8;
}

.solid-border-block {
	border: 1px solid $gray8;
}

.dashed-border-block {
	border: 1px dashed $gray8;
}

.ekko-lightbox {
	.modal-header {
		padding: 0;
		min-height: inherit;
		border: none;
	}
	.modal-title {
		@extend %hide;
	}
	
	.modal-body {
		padding: 0;
	}
	
	a:focus,
	a:hover,
	a:active {
		text-decoration: none;
	}
}

.required {
	& > label {
		&:after {
			content: '*';
			color: $red2;
			padding-left: 3px;
		}
	}
}

.pagination {
	& > li > a { 
		@extend .dinpro-b;
		color: $gray18;
		border-top: 1px solid $gray8;
		border-bottom: 1px solid $gray8;
		border-left: none !important;
		border-right: none !important;
	}
	
	& > .active > a {
		color: $blue8;
		background-color: transparent;
		border-top: 1px solid $gray8;
		border-bottom: 1px solid $gray8;
		border-left: none !important;
		border-right: none !important;
		
	}
	
	& > li.prev > a,
	& > li.next > a {
		border-left: 1px solid $gray8 !important;
		border-right: 1px solid $gray8 !important;
	}
	
	.next a,
	.next span,
	.prev span,
	.prev a {
		@extend %db;
		@extend %pos_rel;
		
		&:after,
		&:before {
			@extend %pos_abs;
			content: '';
		}
	}
	
	.prev,
	.next {
		background-color: #f0f0f0;
	}
	
	.next span,
	.next a {
		&:after,
		&:before {
			left: 15px; 
			top: 8px;
			border: 10px solid transparent;
			border-left: 10px solid #545962;			
		}
		
		&:after {
			border-left: 10px solid #fff;
			left: 13px;
		}
	}
	
	.prev span,
	.prev a {
		&:after,
		&:before {
			left: 2px; 
			top: 8px;
			border: 10px solid transparent;
			border-right: 10px solid #545962;			
		}
		
		&:after {
			border-right: 10px solid #fff;
			left: 4px; 
		}
	}
}
.breadcrumbs-cnt {
	background-color: #f5f5f5;
	border-bottom: 1px solid $gray9;
	padding: 5px 0;
}

.breadcrumb {
	margin-bottom: 0;
	padding-left: 0;
	
	& > li + li{
		@extend %pos_rel;
		padding-left: 20px;
	}
	
	& > li + li:before,
	& > li + li:after {
		@extend %pos_abs;
		
		content: '';
		
		left: 4px; 
		top: 4px;
		border: 7px solid transparent;
		border-left: 7px solid $gray19;			
		
	}
	
	& > li + li:after {
		border-left: 7px solid #f5f5f5;
		left: 2px;
	}
	
	li {
		a {
			@extend %underline_y_n;
		}
		span, a, a:hover {
			color: $gray7;

		}		
	}
	.active {
		@extend .dinpro-b;
	}
	
	
}

.form-control {
	border-color: #c2c2c2;
}

.modal-body .form-control {
	background-color: #f9f9f9;
}

.catalog-zakaz-spec1-notice {
	color: $gray20;
	margin-left: 190px;
	line-height: 18px;
	
	a {
		@extend .dinpro-m;
		color: $gray20;
		
		&:hover {
			color: $gray20; 
		}
	}
}
.modal-dialog__zakaz-spec1 {
	width: 714px;
}

.field-descr,
.uploading-info {
	@extend %font_14;
	@extend %italic;
	@extend .mb-15;
	
	color: $gray13;
}

.field-descr {
	@extend %pos_abs;
	
	margin: 0;
	padding: 0;
}

/**----------------------------------*/
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.site-index {
	.h1 {
		@extend %text_c;
	}
}

#addreviewform-rating {
	label {
		@extend .pr-10;
	}
}