$blue1: #00a4e7;
$blue2: #0097d5;
$blue3: #007bd1;
$blue4: #01a0e1;
$blue5: #95add1;
$blue6: #0086bd;
$blue7: #458eb4;
$blue8: #478aae;

$red1: #e44040;

$gray1: #656565;
$gray2: #5c5c5c;
$gray3: #585858;
$gray4: #696969;
$gray5: #797979;
$gray6: #5e5e5e;
$gray7: #565656;
$gray8: #d7d7d7;
$gray9: #e6e6e6;
$gray10: #cecece;
$gray11: #434343;
$gray12: #d8d8d8;
$gray13: #878787;
$gray14: #ccc;
$gray15: #f6f6f6;
$gray16: #313131;
$gray17: #d3d3d3;
$gray18: #606060;
$gray19	: #bfc1c4;

$red1: #e44040;
$red2: #a94442;