$blue1: #00a4e7;
$blue2: #0097d5;
$blue3: #007bd1;
$blue4: #01a0e1;

$red1: #e44040;

$gray1: #656565;
$gray2: #5c5c5c;
$gray3: #585858;
$gray4: #696969;
$gray5: #797979;
$gray6: #5e5e5e;
$gray7: #565656;
$gray8: #d7d7d7;
$gray9: #e6e6e6;

$red1: #e44040;
