.header__row1 {
	background-color: #464646;

	
	@extend %c_fff;
	
	a {
		@extend %c_fff;
		
		&.header_regions_item_active {
			color: $blue1;
		}

	}
}

.header__regions {
	@extend %pos_rel;
}
.header_regions__list_cnt {
	@extend %hide;
	
	top: 60px;
	left: 50%;
	margin-left: -93px;
	padding-left: 0;
	padding-right: 0;
}

.header_regions__item {
	a {
		@extend %db;
		@extend %underline_n_n;
		
		line-height: 26px;
		white-space: nowrap;
		padding-left: 15px;
		padding-right: 15px;
		
		&:focus,
		&:hover {
			background-color: $gray7;
			color: #fff;
		}
	}
}

.header_regions__item_l2 a {
	padding-left: 30px;
}

.show_specialists {
	
}

.show_specialists__ttl {
	@extend %db;
	@extend %fl;
	
	margin-right: 20px;
}

.header__regions {
	@extend %fl;
	
	padding-left: 15px;
	padding-right: 30px;
}

.autorization_h,
.header__regions {
	@include background-image(linear-gradient(#636363, #525252));
}


.header_regions__active {
	@extend %pos_rel;
	@extend %pointer;
	
	border-bottom: 2px dotted #fff;
		
	&:before,
	&:after {
		@extend %pos_abs;
		
		content: ''; 
		right: -15px; 
		bottom: 0;
		border: 6px solid transparent;
		border-top: 6px solid #fff;
		
	}
	
	&:after {
		border-top: 6px solid #5c5c5c;
		bottom: 2px;		
	}
}


.currency_select__list li,
.currency_select__ttl,
.currency_select__list_cnt,
.currency_select__list,
.currency_select__item {
	@extend %dib;
}

.autorization_h__item,
.show_specialists,
.currency_select {
	@extend %fl;
	
}

.autorization_h {
	@extend %fr;
	
	
}

.show_specialists__ttl,
.header__regions,
.currency_select,
.autorization_h__item_reg_spec {
	padding-top: 13px;
	padding-bottom: 13px; 	
}




.currency_select {
	@extend %pos_rel;
	
	margin-left: 100px;
}

.currency_select__byr,
.currency_select__usd {
	@extend %ico;
}

.currency_select__byr {
	padding-right: 50px;
	
	&:before {
		@extend .ico-curr-usd;
		
		right: 6px;
		top: 5px;
	}
}

.currency_select__byr_active {
	padding-right: 0;
	&:before {
		@extend %hide;
	}
}

.currency_select__usd {
	padding-left: 50px;
	
	&:before {
		@extend .ico-curr-byr;
		
		left: 6px;
		top: 5px;
	}
}

.currency_select__usd_active {
	padding-left: 0;
	&:before {
		@extend %hide;
	}	
}


.currency_select__item {
	@include transition-property(background-color);
	@include transition-duration(100ms);	
	
	@extend %underline_n_n;
	
	
	&:focus,
	&:active,
	&:hover {
		color: lighten($blue1, 5%);
	}	
}

a.currency_select__byr_active,
a.currency_select__usd_active {
	color: $blue1;
	
	&:hover {
		color: lighten($blue1, 5%);
	}
}

.autorization_h {
	padding-left: 20px;
//	padding-right: 20px;	
}


.autorization_h__item_reg_spec {
	border-right: 1px solid #525252;
	padding-right: 17px;
}

.autorization_h__reg_spec {
	@extend %ico;
	@extend %db;
	
	padding-left: 32px;
	
	&:before {
		@extend .ico-key1;
		
		left: 0;
		top: 0;
	}
	
	&:focus,
	&:active,
	&:hover {
		@extend %c_fff;
	}
}

.autorization_h__item_login {
	border-left: 1px solid #696969;
}

.autorization_h__login {
	@extend %db;
	@extend %ico;
	@extend %pos_rel;
	@extend .hide-text;
	
	width: 54px;
	height: 48px;
	
	&:before {
		@extend .ico-zamok;		
		left: 18px;
		top: 14px;
	}
	

	
}

.logo_top {
	@extend %db;
	@extend .mt-15;
	@extend .mb-25;
	@extend .clearfix;
}

.logo_top__img,
.logo_top__cnt {
	@extend %fl;
}


.logo_top__cnt {
	margin-top: 10px;
	margin-left: 25px;
}

.logo_top__sitename,
.logo_top__slogan {
	@extend %db;
}

.logo_top__sitename {
	@extend %font_34;
	@extend .dinpro-b;
	
	color: $blue4;
}

.logo_top__slogan {
	color: $gray5;
	margin-top: -3px;
}

.header_phone {
	@extend %pos_rel;
	@extend %fr;
	@extend .mt-35;	
}

.header_phone__txt,
.header_phone__number {
	@extend %fl;
}

.header_phone__txt {
	color: $gray7;
	margin-top: 5px;
}

.header_phone__number {
	@extend %ico;
	
	margin-left: 20px;
	padding-left: 45px;
	
	&:before {
		@extend .ico-header-phone;
		
		left: 0;
		top: 9px;
	}
}
.header_phone__number_cnt {
	@extend %db;
	@extend %font_34;
	@extend .dinpro-b;
	
	color: $blue4;	
	background: url(../images/header-dots.png) repeat-x bottom;
}


.header__row3 {
	border-top: 1px solid $gray8;
	border-bottom: 2px solid $gray9;
}

.header_navbar,
.header_popular__ttl {
	@extend %fl;	
}


.header_popular__ttl {
	background-color: $red1;
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	padding-right: 5px;
	margin-top: 20px;
	margin-right: 25px;
	
	@extend %pos_rel;
	@extend %c_fff;
	@extend %db;
	@extend .dinpro-m;
	@include border-radius(3px 0 0 3px);
	
	&:after {
		@extend %pos_abs;
		
		content: ''; 		
		right: -30px; 
		top: 0;
		border: 15px solid transparent;
		border-left: 15px solid $red1;
	}
}


.header_navbar {
	li {
		border-left: 1px solid $gray8;

		&:last-of-type {
			border-right: 1px solid $gray8;
		}	
	}
}

.header_navbar__item {
	@extend %text_c;
	
	color: $gray7;
	
	&:hover {
		color: $gray7;
	}

	span {
		@extend %db;
		@extend .dinpro-b;
	}
}

.header_phone_popup__item {
	@extend %ico;
	padding-left: 22px;
	padding-bottom: 5px;
	
	&:before {
		left: 0;
		top: 5px;
	}
	
	&:last-of-type {
		padding-bottom: 0;
	}
}

.header_phone_popup__phone {
	&:before {
		@extend .ico-phone;
		left: 2px;
	}
}

.header_phone_popup__velcom {
	&:before {
		@extend .ico-velcom;
	}
}

.header_phone_popup__mts {
	&:before {
		@extend .ico-mts;
		left: 2px;
	}
}

.header_phone_popup__life {
	&:before {
		@extend .ico-life;
		left: 3px;
	}
}

.header_phone__popup {
	right: 0;
	top: 65px;
	display: none;
}

.currency_select__popup {
	width: 230px;
	right: -100px;
	top: 40px;
	display: none;
}