.profi_search {
	background: url(../images/main-img.jpg) no-repeat top center;
	height: 500px;
}

.profi_search__cnt {
	@include border-radius(4px);
	
	margin-top: 145px;
	
	background: url(../images/pattern.png);
}

.profi_search__ttl {
	@extend .dinpro-m;
	@extend %font_32;
	
	color: $gray7;
	padding-top: 10px;
	padding-left: 35px;
	
}

.profi_search__tabs {
	.tab-pane {
		background-color: #fff;
		padding: 15px;
	}
}

.profi_search_tab_1__cnt {
	@extend .clearfix;
	@extend %ico;
	@include border-radius(3px);
	
	border: 1px solid $gray10;
	
	&:before {
		@extend .ico-search;
		left: 7px;
		top: 7px;
	}
	
}
.profi_search_tab_1__regions {
	@extend %pos_rel;
	
	/* width: 325px; */
}
.profi_search_tab_1_region__ttl {
	@extend %db;
	@extend %ico;
	@extend %c_000;
	
	line-height: 32px;
	padding-left: 35px;
	padding-right: 5px;
	
	&:before {
		@extend .ico-region;
		left: 12px;
		top: 8px;
	}
}

.profi_search_tab_1_regions__active,	
.profi_search_tab_1_region__ttl,
.profi_search_tab_1__regions,
.profi_search_tab_1__inputbox{
	@extend %fl;
}

.profi_search_tab_1__region {
	@extend .clearfix;
	@extend %fr;
	
	border-left: 1px solid $gray10;
}

.profi_search_tab_1_regions__list_cnt {
	@extend %hide;
	top: 45px;
	left: -10px;
//	left: 50%;
//	margin-left: -47px;
	
}

.profi_search_tab_1__inputbox {
	@extend %db;
	
	
	padding-left: 40px;
	width: 410px;
	
	border: none;
	
}

.profi_search_tab_1_regions__active {
	@extend %db;
	@extend %pos_rel;
	@extend %pointer;
	
	color: $blue2;
	border-bottom: 2px dotted $blue2;
	margin-top: 6px;
	margin-right: 35px;
	
	&:before,
	&:after {
		@extend %pos_abs;
		
		content: ''; 
		right: -15px; 
		bottom: 0;
		border: 5px solid transparent;
		border-top: 5px solid $blue2;
		
	}
	
	&:after {
		border-top: 6px solid #fff;
		bottom: 2px;		
	}
	
}

.profi_search_tab_1_regions__item {
	a {
		@extend %underline_n_n;
		color: $gray6;
		
		&:hover {
			color: $blue3;
		}
	}
}

.profi_search__button {
	display: block;
	@extend %fr;
}

.profi_search__tabs {
	
	.nav-tabs {
		
		li > a {
			margin-right: 20px;
		}
		a {
			@extend .dinpro-b;
			@extend %font_18;
			@extend %ico;
			@extend %pos_rel;
			color: $gray16;
			background-color: $gray17;
			
			&:before {

				background: url(../images/tab-dots.png) repeat-x;
				left: 0;
				top: 35px;
				height: 2px;
				margin: 0 15px;
				
			}
			
			&:hover{
				background-color: #fff;
				border: 1px solid #ddd;
				border-bottom: 1px solid #fff;
			}
		}
		
		.active {
			a {
				color: $blue4;
				border-bottom: none;
				background-color: #fff;
				border-bottom: 1px solid #fff;
				
				&:before {
					@extend %hide;
				}
				
				&:focus {
					color: $blue4;
				}
			}

		}
	}
}

.profi_search_tabs__tab1:before {
	width: 85%;
}
.profi_search_tabs__tab2:before {
	width: 89%;
}

.profi_search_tab__zakaz {
//	.inputbox {
//		margin-bottom: 15px;
//	}
	
	.form-group {
		label {
			@extend %hide;
			
		}
	}
	
	.has-error {
		.inputbox {
			border-color: #a94442;
		}
	}
	
	.send-zayavka {
		@extend %db;
		
		width: 230px;
		margin: 0 auto;
	}
}

.profi_search_inner {
	background-color: #f9f9f9;
	border-bottom: 1px solid #d7d7d7;
}

.profi_search_inner_catalog_url,
.profi_search_inner_catalog {
	@extend %db;
	@extend %underline_n_n;

	@extend %c_fff;
	@extend %font_18;
	@extend .dinpro-b;
	@extend %pos_rel;
	@extend %pointer;
	

	height: 77px;
	line-height: 76px;
	padding-left: 15px;
	
	
	span {
		@extend %ico;
		@extend %pos_abs;
		width: 40px;
		height: 77px;
		right: 0;
		top: 0;
		
		&:before {
			@extend .ico-arrow-down-white;
			left: 50%;
			top: 50%;
			margin: -5px 0 0 -8px;
			
		}
		
		&:after {
			@extend %pos_abs;
			content: '';
			width: 1px;
			height: 77px;
			
			left: 0;
			top: 0;
		}
		
	}
}

.profi_search_inner_catalog {
	@extend .btn-blue-big;
	background-repeat: repeat-x;
	
	&:hover {
		@extend .btn-blue-big-h;
		@extend %c_fff;
		background-repeat: repeat-x;
	}
	
	span {
		border-left: 1px solid #0083ba;
		
		&:after {
			background-color: #149cd4;
		}
	}
	
}

.profi_search_inner_catalog_url {
	@extend .btn-gray-big;
	background-repeat: repeat-x;
	
	&:hover {
		@extend .btn-gray-big-h;
		@extend %c_fff;
		background-repeat: repeat-x;
	}
	
	span {
		border-left: 1px solid #555555;
		
		&:after {
			background-color: #6b6b6b;
		}		
	}
	
}

.profi_search_inner__inputbox_cnt {
	@include border-radius(3px);
	@extend %pos_rel;
	@extend %ico;
	@extend .mt-20;
	
	padding: 0 25px;
	background-color: $gray9;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	
	&:before {
		@extend .ico-search;
		left: 7px;
		top: 7px;
	}
	
}

.profi_search_inner__inputbox {
	border: none;
	background-color: transparent; 
	line-height: 34px;
	width: 320px;
}

.profi_search_inner__regions {
	@extend %ico;
	@extend %pos_abs;
	
	right: 0;
	top: 0;
	border-left: 1px solid #c5c5c5;
	padding-left: 30px;
	padding-right: 30px;
	height: 32px;
	
	&:before {
		@extend .ico-region;
		left: 8px;
		top: 5px;
	}
	
}

.profi_search_inner_regions__active {
	@extend %pointer;
	@extend %db;
	@extend %pos_rel;
	
	color: $blue2;
	border-bottom: 2px dotted $blue2;
	margin-top: 3px;
	
	&:hover {
		border-bottom: none;
	}
	
	&:before,
	&:after {
		@extend %pos_abs;
		
		content: ''; 
		right: -15px; 
		bottom: 0;
		border: 5px solid transparent;
		border-top: 5px solid $blue2;
		
	}
	
	&:after {
		border-top: 6px solid $gray9;
		bottom: 2px;		
	}
	
}

.profi_search_inner__button_col {
	border-left: 1px solid $gray10;
}

.profi_search_inner__button_cnt {
	height: 77px;
	border-right: 1px solid $gray10;
}

.profi_search_inner__button {
	padding: 0 10px;
	font-size: 16px;
	margin-top: 20px;
}

.profi_search_regions__list_cnt {
	display: none;
	white-space: nowrap;
	top: 45px;
	left: 50%;
	margin-left: -93px;
}

.profi_search_regions_list__l2 {
	padding-left: 10px;
}

.profi_search_inner__regions .profi_search_regions__item_active,
.profi_search_tab_1_regions__list_cnt .profi_search_regions__item_active {
	@extend .dinpro-b;
}

.search-result-cnt {
	@extend %pos_abs;
	@extend %hide;

	
	background-color: #fff;
	width: 300px;
	max-height: 350px;
	/* overflow-x: none; */
	/* overflow-y: scroll; */
	border: 2px solid $blue2;
	margin-top: 35px;
	padding: 15px;
	z-index: 7777;
}

#zakazspec1-comment {
	height: 83px;
}

.field-zakazspec1-spec_name,
.field-zakazspec1-user_id {
	label {
		@extend %hide;
	}
}