.profile-page {
}

.profile__tabs {
	@extend .mb-60;
	
	.h1 {
		padding-top: 0;
	}
	
	.nav-tabs {
		border-color: $blue3;
		
		li {
			a {
				@extend .mr-15;
				@extend .dinpro-b;
				
				background-color: $gray22;
				color: $gray16;
				border-bottom: 1px solid $blue3;
			}
		}
		
		li:hover,
		li.active {
			&>a {
				@extend %c_fff;
				
				
				background-color: $blue3;
				border-color: $blue3;
			}
		}
	}
	
	.tab-content {
		@include box-shadow(0px 2px 6px #aaa);
	}
}

.tab_profile_anketa {
	padding: 35px;
}

.tab_profile__shedule {
	padding: 35px 20px;
}


.profile_anketa {
	.jq-selectbox__select-text,
	textarea,
	input[type="text"] {
		@extend %italic;
	}
	
	.field-profileanketaform-about > label {
		margin-bottom: 70px;
	}
	
	.field-profileanketaform-education > label {
		margin-bottom: 35px;
	}
	
	.field-profileanketaform-specialization > label {
		margin-bottom: 55px;
	}
	
	.specialization-field-descr,
	.education-field-descr,
	.about-field-descr {
		margin-top: 25px;
	}

}

.profile_anketa_row {
	@extend .mb-30;
	@extend .pb-20;
	border-bottom: 1px solid #ececec;
	
}
.field-profileanketaform-avatar {
	.help-block {
		@extend %hide;
	}
}

.profile_delete_profile_cnt {
	@extend .mt-40;
	
	@include border-radius(5px);
	
	padding: 25px;
	border: 1px solid $gray8;
}

.profile_delete_btn {
	@extend %fr;
}

#uploading-examples,
#uploading-awards {
	.uploading-info {
		width: 60%;
	}
}


.profile_top_block {
	@include box-shadow(0 3px 5px #d3d3d3);
	
	padding: 20px 0;
	border-bottom: 2px solid #e6e6e6;
	background-color: #f8f8f8;
}

.profile_top_block__list {
	@extend .clearfix;
	
	.button-light {
		@extend .mr-10;
	}
}

.profile_top_block__notice {
	@extend %ico;
	
	padding-left: 50px;
	
	&:before {
		@extend .ico-email;
		
		left: 20px;
		top: 50%;
		margin-top: -7px;
	}
}

.profile_top_block__contact {
	@extend %ico;
	
	padding-left: 50px;
	
	&:before {
		@extend .ico-contact;
		
		left: 20px;
		top: 50%;
		margin-top: -13px;
	}
}

.profile_top_block__documents {
	@extend %ico;
	
	padding-left: 50px;
	
	&:before {
		@extend .ico-document;
		
		left: 20px;
		top: 50%;
		margin-top: -11px;
	}
}

.profile_top_block__activity {
	@extend %pos_rel;
	@extend .dinpro-b;
	line-height: 46px;
	
	span:first-of-type {
		@extend .pl-10;
	}
}

.profile_top_block__item_active {
	color: $blue7;
}

.profile_top_block__status__no_active {
	@extend %ico;
	@extend %pointer;
	
	color: $gray5;
	padding-left: 65px;
	
	&:before {
		@extend .ico-profile-active;
		left: 0;
		top: -7px;
	}
}

.profile_top_block__status__active {
	@extend %ico;
	@extend %pointer;
	
	color: $gray5;
	padding-right: 65px;
	
	&:before {
		@extend .ico-profile-noactive;
		right: 0;
		top: -7px;
	}
}

.profile_orders_row {
	padding: 30px;
	border-bottom: 1px solid $gray9;
}

.profile_order_num {
	@extend .dinpro-b;
	@extend .mb-5;
	
}

.order_status_ok,
.order_status_wait,
.order_status_warning {
	@extend %ico;
	@extend %font_15;
	@extend .dinpro-m;
	@extend .mb-5;
	
	padding-left: 25px;
	height: 18px;
	line-height: 18px;	
}

.order_status_wait{
	color: $yellow1;
	
	&:before {
		@extend .ico-order-wait;
		left: 0;
		top: 0;
	}
}

.order_status_ok {
	color: $green1;
	
	&:before {
		@extend .ico-order-ok;
		left: 0;
		top: 0;
	}
}

.order_status_warning{
	color: $red3;
	
	&:before {
		@extend .ico-order-warning;
		left: 0;
		top: 0;
	}
}

.order_item_fee {
	@extend %font_15;
	@extend .dinpro-b;
	@extend .mb-10;
}

.order_item_fee_warning {
	color: $red3;
}

.order_item_fee_payed {
	color: $gray20;
}

.profile_shedule_ttl {
	@extend .dinpro-b;
	@extend %font_18;
	@extend .mb-15;
}

.profile_shedule_weekends {
	border-right: 1px solid $gray25;
	
	.datepicker-inline {
		@extend .mb-20;
	}
}

.profile_shedule_call_time {
	background: url(../images/clock.png) no-repeat 20px 40px;
	height: 450px;
	
	& > p {
		@extend .ml-20;
	}
}

.set-call-time-cnt {
	margin: 85px 0 110px 310px;
}

.tab_profile_orders,
.tab_profile__reviews {
	padding-bottom: 25px;
}
.tab_profile__reviews {

	
	.reviews_list {
		margin-bottom: 0;
	}
	
	.reviews_item {
		padding-left: 25px;
		padding-right: 25px;
		&:last-of-type {
			padding-bottom: 25px;
		}
	}
	
}

.field-setweekendform-weekends,
#weekend-input {
	@extend .hidden;
}

.datepicker-inline {
	@include border-radius(0);
	
	@extend .dinpro-b;
	
	background-color: #f0f9ff;
	border: 1px solid $blue6;
	padding: 0;
	width: 340px;
	
	.datepicker-days {
		.table-condensed {
			@extend %w_100;
			
			thead {
				tr {
					th {
						@include border-radius(0);
					}
					
					&:first-of-type{
						background-color: $blue6;
						@extend %c_fff;
						
						th {
							&:hover {
								background-color: $blue11;
								@extend %c_fff;
							}
						}
					}
				}
			}
			
			tbody {
				td {
					background-color: #fff;
					border: 1px solid $gray8;
					color: $gray5;
					
					&:hover,
					&.active,
					&.active:hover {
						@include border-radius(0);
						
						background-color: $red4;
						color: $gray5;
						border: 1px solid $gray8;
					}
				}
				
				tr {
					td:first-of-type {
						border-left: none;
					}
					td:last-of-type {
						border-right: none;
					}
					&:last-of-type {
						td {
							border-bottom: 1px solid $blue6;
						}
					}
				}
			}
		}
	}
	
	.datepicker-years,
	.datepicker-months {
		.table-condensed {
			@extend %w_100;
			
			thead {
				tr {
					th {
						@include border-radius(0);
					}
					
					&:first-of-type{
						background-color: $blue6;
						@extend %c_fff;
					}
				}
			}
			
			tbody {
				span {
					background-color: #fff;
					border: 1px solid $gray8;
					color: $gray5;
					
					&:hover,
					&.active,
					&.active:hover{
						@include border-radius(0);
						
						background-color: $red4;
						color: $gray5;
						border: 1px solid $gray8;
					}
				}
				
				tr {
					td:first-of-type {
						border-left: none;
					}
					td:last-of-type {
						border-right: none;
					}
				}
			}
		}
		
	}
}

.profile_header__popup {	
	@extend .dinpro-r;
	@extend %font_14;
	@extend %pos_abs;
	
	right: 15px;
	line-height: 1;
	display: none;
}

.to_administration_txt {
	padding-top: 22px;
}

.tab_profile__payment {
	@extend .tab_profile__shedule
}

#profilepaymenttypeform-payment_type {
	label {
		@extend %db;
		@extend .mb-30;
		
	}
	
	img {
		height: 50px;
	}
}

.profile-orders-list-view {
	.pagination {
		@extend %fr;
	}
}
.profile-orders-list-view,
.profile-reviews-list-view {
	.reviews_item {
		&:last-of-type {
			border-bottom: 1px solid #f2f2f2;
		}		
	}
	.pagination {
		margin-right: 25px;
		margin-bottom: 0;
	}
}

.remove_region_row {
	@extend %db;
	@extend %text_c;
	@extend %bold;
	@extend %c_fff;
	@extend %underline_n_n;
	@extend .btn-blue;
	
	@include border-radius(50%);
	
	background-repeat: repeat-x;
	width: 25px;
	height: 25px;
	line-height: 24px;
	font-size: 18px;
	font-family: tahoma;
	margin-top: 5px;
	
	&:hover {
		@extend %c_fff;
	}
	
}

#region-row-f .remove_region_row {
	display: none;
}