.reviews_item {
	@extend .mb-25;
	@extend .pb-25;
	
	clear: both;
	border-bottom: 1px solid $gray21;
	
	&:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border: none;
	}
}


.reviews_item__value_cnt,
.reviews_item__created_cnt {
	@extend %fl;
}

.reviews_item__value_cnt {
	width: 102px;
	height: 80px;
}

.reviews_item__created_cnt {
	@extend .ml-30;
}

.reviews_item__value {
	@extend .dinpro-b;
	@extend %text_c;
	@include border-radius(5px);
	border: 2px solid $blue9;
	background-color: $blue10;
	color: $blue9;
	font-size: 40px;
	
	span {
		@extend %db;
		@extend %font_16;
		@extend .dinpro-m;
	}
}

.reviews_item__created {
	@extend %italic;
	@extend %font_14;
}

.reviews_item__name {
	@extend .dinpro-m;	
}

.reviews_item__text_cnt {
	@include border-radius(5px);
	@extend %pos_rel;
	@extend %ico;
	
	padding: 10px 25px;	
	border: 1px dashed $gray14;
	
	&:before {
		@extend .ico-review-text;
		
		top: 50%;
		left: -9px;
		margin-top: -8px;
	}
	
}

.review_answer_cnt {
	@extend .mt-20;
}

.review_answer__text {
	@include border-radius(5px);
	@extend %pos_rel;
	@extend %ico;

	padding: 10px 25px;	
	border: 1px dashed $blue9;

	&:before {
		@extend .ico-review-answer;

		top: -1px;
		left: 33px;
		margin-top: -8px;
	}

}


.reviews_item__text {
	@extend .mb-10;
}

.reviews_item__foto_list {
	@extend .clearfix;
}

.reviews_item__foto_item {
	@extend %fl;
	margin-right: 10px;
}

.reviews_list {
	@extend .mb-35;
	@extend .pt-30; 
	border-top: 1px solid $gray21;
	
	.pagination {
		@extend %fr; 
	}
}
