@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

@import "compass/utilities/general/clearfix"; 
@import "compass/utilities/general/hacks";  /* необходимо для @filter-gradient */

@import "compass/typography/links";
@import "compass/typography/lists/horizontal-list";

@import "compass/layout";


@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/images";

@import "compass/utilities/sprites";


$ico-layout: smart;
$ico-sprite-dimensions: true;
@import "ico/*.png"; 
@include all-ico-sprites;

$btn-layout: vertical;
//$btns-sprite-dimensions: true;
@import "btn/*.png"; 
@include all-btn-sprites;


@import "_placeholders";
@import "_fonts";
@import "_font_colors";
@import "_common-universal-classes";
@import "_common";	//общие стили 
@import "_header";
@import "_profi-search";
@import "_all-profi-list";
@import "_how-it-work";
@import "_reviews-block";
@import "_footer";
@import "_registration";
@import "_catalog-category-list-view";
@import "_catalog-item";



